.widget-recent-post li {
	padding-left: 0;
	display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px dashed #464547;
    margin-bottom: 20px;
}

.widget-recent-post ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 0px;
}

.widget-recent-post li:before {
	display: none;
}
.widget-recent-post ul li img {
	float: left;
	margin-right: 20px;
	border-radius: 3px;
}
.widget-recent-post ul li span {
	font-size: 14px;
    color: #838383;
    display: block;
    margin-bottom: 3px;
}
.widget-recent-post ul li h6 {
	font-size: 14px;
    font-weight: 500;
    color: #aeaeae;
    margin-bottom: 0;
    padding-right: 50px;
    line-height: 1.4;
}