.widget-recent-post li {
    padding-left: 0;
    display: flex!important;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px dashed #464547;
    margin-bottom: 20px;
}

.widget-recent-post li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 0px;
}

.widget-recent-post li:before {
    display: none;
}

.widget-recent-post .widget-recent-post-thumb {
    margin-right: 20px;
    float: left;
}

.widget-recent-post li img {
    border-radius: 3px;
    max-width: unset;
}

.widget-recent-post li span {
    font-size: 14px;
    color: #838383;
    display: block;
    margin-bottom: 3px;
}

.widget-recent-post li h6 {
    font-size: 14px;
    font-weight: 500;
    color: #aeaeae;
    margin-bottom: 0;
    line-height: 1.4;
}
.sidebar .widget-recent-post,
.footer-widget .rc-post {
    display: none;
}